<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>tunehub/login</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
<video autoplay muted loop id="video-bg">
    <source src="https://github.com/netailohargithub/SongList/raw/main/video.mp4.mp4" type="video/mp4">
    
</video>

<form action="validate" method="post">
<h2>USER LOGIN:</h2>

<label>Email:</label><br>
<input type ="email" name ="email">
<br/><br/>

<label>Password:</label><br>
<input type ="password" name ="password">

<input type ="submit" value="LOGIN"> 

</form>
</body>
</html>